version: "3.3"
services:
  maestro-be:
    build:
      dockerfile: backend.Dockerfile
      context: .
    ports:
      - 5050:5000
    environment:
      - CONFIG_FILE=maestro-prd.yaml
    depends_on:
      - rethinkdb
    entrypoint: bash
    command: ./wait-for-it.sh rethinkdb:28015 -- python3 main/rest_api.py
  maestro-bitmex:
    build:
      dockerfile: backend.Dockerfile
      context: .
    environment:
      - CONFIG_FILE=maestro-prd.yaml
    depends_on:
      - rethinkdb
    entrypoint: bash
    command: ./wait-for-it.sh rethinkdb:28015 -- python3 main/data_bitmex_download.py
  maestro-binance:
    build:
      dockerfile: backend.Dockerfile
      context: .
    environment:
      - CONFIG_FILE=maestro-prd.yaml
    depends_on:
      - rethinkdb
    entrypoint: bash
    command: ./wait-for-it.sh rethinkdb:28015 -- python3 main/data_binance_download.py
  maestro-fe:
    build:
      dockerfile: frontend.Dockerfile
      context: .
    ports:
      - 8080:5000
    depends_on:
      - maestro-be
    entrypoint: bash
    command: ./wait-for-it.sh maestro-be:5050 -- serve -s build
  rethinkdb:
    image: rethinkdb
    ports:
      - 8081:8080
      - 28015:28015
    volumes:
      - db-data:/data
    command: rethinkdb --bind all

volumes:
  db-data:
